<!DOCTYPE html>
<html style="zoom: 115%">

<title>WeGo Log In Page</title>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link rel="icon" type="image/x-icon" href="../styles/WeGo.png" />
  <link href="../styles/style.css" rel="stylesheet"  type="text/css" />
</head>
<br>

<body>
  <br></br>
  <center>
    <img class="logo" src="../styles/WeGo.png" alt="WeGo_logo">
    <br></br>
    <h1 class="title">Welcome to WeGo!</h1>
  </center>
  <br>
  <center>
    <div class="box" method="POST" name="LoginForm">
      <h1 class="textInForm">Log In</h1>
      <div class="container">
        <br>

        <div class="username">
        <label for="username" class="textInForm" ><b>Username:</b></label>
        <input type="text" placeholder=" johndoe" id="username">
        <br></br>
        </div>
       
        <label for="password" class="textInForm"><b>Password:</b></label>
        <input type="password" placeholder=" *********" id="password">
        <br></br>
        
        <button type="submit" class="boxButton" id="submit-button">Log in</button>
        <br></br>
    
        Don't have an account?
        <button id="myButton">Sign Up</button>
      </div>
    </div>
  </center>
</body>

<script>
  const button = document.getElementById('myButton');
  button.addEventListener('click', () => {
  window.location.href = '/signup';
  });
</script>


  <script>

      const submitButton = document.getElementById('submit-button');

      submitButton.addEventListener('click', (event) => {
        event.preventDefault();

        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;

        const loginData = {
          username: username,
          password: password
        };

        fetch('/users', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(loginData)
        })
        .then(response => {
          if (response.ok) {
            return response.json();
          } else {
            throw new Error('Invalid username or password');
          }
        })
        .then(data => {
          console.log('Success:', data);
          alert('Logged in successfully!'); // Alert the user on successful login
          window.location.href = 'ordering_page.html'; 
        })
        .catch(error => {
          console.error('Error:', error);
          alert('Invalid username or password. Please try again.'); // Alert the user on error
        });
      });

  </script>

</html>