<!DOCTYPE html>
<html style="zoom: 85%">

  <br/><br/>
  <h1>WeGo Plugin Services</h1>
  <br/><br/>


<div class = "pluginIcons">

  <a href="/order"><img class = "button" src="../styles/vaccinePlugin.png" alt ="Vaccine Delivery" /></a>
  <a href="/order"><img class = "button" src="../styles/unknownPlugin.png" alt ="Unknown Plugin 1" /></a>
  <a href="/order"><img class = "button" src="../styles/unknownPlugin.png" alt ="Unknown Plugin 2" /></a>



      
</div>
  
<div class = "pluginIcons2">
  <a href="/order"><img class = "button" src="../styles/unknownPlugin.png" alt ="Unknown Plugin 3" /></a>
  <a href="/order"><img class = "button" src="../styles/unknownPlugin.png" alt ="Unknown Plugin 4" /></a>
  <a href="/order"><img class = "button" src="../styles/unknownPlugin.png" alt ="Unknown Plugin 5" /></a>


</div>
  
</html>