<!DOCTYPE html>
<html style="zoom: 85%">

<head>
  <title>WeGo Plugin Selection</title>
  <link rel="icon" type="image/x-icon" href="../static/WeGo.png">
  <link href="../static/services_styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <br /><br />
  <h1>WeGo Plugin Services</h1>
  <br /><br />

  <!-- Wrap the existing div containers with a new container that has flex properties -->
  <div class="pluginContainer">
    <div class="row">
      <div class="pluginIcons">
        <a href="/order"><img class="button" src="../static/vaccinePlugin.png" alt="Vaccine Delivery" /></a>
      </div>
      <div class="pluginIcons">
        <a href=""><img class="button" src="../static/unknownPlugin.png" alt="Unknown Plugin 1" /></a>
      </div>
      <div class="pluginIcons">
        <a href=""><img class="button" src="../static/unknownPlugin.png" alt="Unknown Plugin 2" /></a>
      </div>
    </div>
    <div class="row">
      <div class="pluginIcons">
        <a href=""><img class="button" src="../static/unknownPlugin.png" alt="Unknown Plugin 3" /></a>
      </div>
      <div class="pluginIcons">
        <a href=""><img class="button" src="../static/unknownPlugin.png" alt="Unknown Plugin 4" /></a>
      </div>
      <div class="pluginIcons">
        <a href=""><img class="button" src="../static/unknownPlugin.png" alt="Unknown Plugin 5" /></a>
      </div>
    </div>
  </div>

  <button class="signout" role=button onclick="window.location.href='/logout'">Log Out</button>
</body>

</html>