
<!DOCTYPE html>
<html style="zoom: 90%">

<title>WeGo Sign up Page</title>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link rel="icon" type="image/x-icon" href="../static/WeGo.png">
  <link href="../styles/style.css" rel="stylesheet" type="text/css" />
</head>
<br></br>

<body>
  <br></br>
  <center>
    <img class="logo" src="../static/WeGo.png" alt="WeGo_logo">
    <br></br>
    <h1 class="title">Welcome to WeGo!</h1>
  </center>
  <br></br>
  <center>

    <form class="box" action="index.html" method="POST">

      <h1 class="textInForm">Sign up</h1>

      <div class="container">

        <br></br>

        <div id="signuptext">
        <label for="firstname" class="firstname"><b>First Name:</b></label>
        <input type="text" placeholder="Enter First Name" id="firstname">
        
        <br></br>
        <label for="lastname" class="lastname"><b>Last Name:</b></label>
        <input type="text" placeholder="Enter Last Name" id="lastname">
        
        <br></br>
        <label for="email" class="textInForm"><b>Email:</b></label>
        <input type="text" placeholder="Enter Email" id="email">

        <br></br>
        <label for="Username" class="textInForm"><b>Username:</b></label>
        <input type="text" placeholder="Enter Username" id="username">
        
        <br></br>
        <label for="password" class="textInForm"><b>Password:</b></label>
        <input type="password" placeholder="Enter Password" name="password" id="password">
        
        <br></br>

        <!-- <label for="password" class="textInForm"><b>Confirm Password:</b></label>
        <input type="password" placeholder="Confirm Password" id="password"> -->

        <label for="confirm-password" class="textInForm"><b>Confirm Password:</b></label>
        <input type="password" id="confirm-password" placeholder="Confirm Password" name="confirm-password" required oninput="check(this)">
        <span id="message"></span>
        </div>
       
        <br></br>
        <button type="submit" id="signUp" class="boxButton">Sign up</button>
        <br></br>
        
        Already have an account?
       
        <a href="index.html">Log in</a>
    </form>

  </center>

</body>

  <script>
    const submitButton = document.getElementById('signUp');

    submitButton.addEventListener('click', (event) => {
      event.preventDefault();

      const firstName = document.getElementById('firstname').value;
      const lastName = document.getElementById('lastname').value;
      const email = document.getElementById('email').value;
      const username = document.getElementById('username').value;
      const password = document.getElementById('password').value;

      const userData = {
        firstName: firstName,
        lastName: lastName,
        email: email,
        username: username,
        password: password
      };

      fetch('/signup', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(userData)
      })
      .then(response => {
        if (response.ok) {
          return response.json();
        } else {
          throw new Error('Something went wrong');
        }
      })
      .then(data => {
        console.log('Success:', data);
        alert('User created successfully!'); // Alert the user on successful submission
      })
      .catch(error => {
        console.error('Error:', error);
        alert('There was an error creating the user. Please try again.'); // Alert the user on error
      });
    });


      // function signUpUser() {

      //   var firstname = document.getElementById("firstname").value;
      //   var lastname = document.getElementById("lastname").value;
      //   var email = document.getElementById("email").value;
      //   var username = document.getElementById("username").value;
      //   var password = document.getElementById("password").value;

      //   // Create a new XMLHttpRequest object
      //   var xhr = new XMLHttpRequest();

      //   // Set up a POST request with the specified endpoint
      //   xhr.open('POST', '');


      //   // Set the request header to specify the data type being sent
      //   xhr.setRequestHeader('Content-Type', 'application/json');



      //   // Define a callback function to handle the response
      //   xhr.onload = function() {
      //     if (xhr.status === 200) {
      //       // Request was successful, do something with the response
      //       console.log(xhr.responseText);
      //     } else {
      //       // Request failed, handle the error
      //       console.log('Request failed. Returned status of ' + xhr.status);
      //     }
      //   };

      //   // Set up the data to be sent in the POST request
      //   var data = { 
      //     firstname: "",
      //     lastname: "", 
      //     email: "",
      //     password: "",  
      //   };

      //   // Send the POST request with the data as a JSON string
      //   xhr.send(JSON.stringify(data));
      // }
  </script>

  <script>
      function check(input) {
        if (input.value != document.getElementById('password').value) {
        input.setCustomValidity('Passwords do not match');
        document.getElementById('message').innerHTML = 'Passwords do not match';
      } else {
        input.setCustomValidity('');
        document.getElementById('message').innerHTML = '';
      }
    }
  </script>


</html>