
<!DOCTYPE html>
<html style="zoom: 90%">

<title>WeGo Sign up Page</title>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link rel="icon" type="image/x-icon" href="../styles/WeGo.png">
  <link href="../styles/style.css" rel="stylesheet" type="text/css" />
</head>
<br></br>

<body>
  <br></br>
  <center>
    <img class="logo" src="../styles/WeGo.png" alt="WeGo_logo">
    <br></br>
    <h1 class="title">Welcome to WeGo!</h1>
  </center>
  <br></br>
  <center>

    <form class="box" action="index.html" method="POST">

      <h1 class="textInForm">Sign up</h1>

      <div class="container">

        <br></br>

        <div id="signuptext">
        <label for="firstname" class="firstname"><b>First Name:</b></label>
        <input type="text" placeholder="Enter First Name" id="fName">
        
        <br></br>
        <label for="lastname" class="lastname"><b>Last Name:</b></label>
        <input type="text" placeholder="Enter Last Name" id="lName">
        
        <br></br>
        <label for="email" class="textInForm"><b>Email:</b></label>
        <input type="text" placeholder="Enter Email" id="email">

        <br></br>
        <label for="Username" class="textInForm"><b>Username:</b></label>
        <input type="text" placeholder="Enter Username" id="username">
        
        <br></br>
        <label for="password" class="textInForm"><b>Password:</b></label>
        <input type="password" placeholder="Enter Password" name="password" id="password">
        
        <br></br>

        <label for="confirm-password" class="textInForm"><b>Confirm Password:</b></label>
        <input type="password" id="confirm-password" placeholder="Confirm Password" name="confirm-password" required oninput="check(this)">
        <span id="message"></span>
        </div>
       
        <br></br>
        <button type="submit" id="signUp" class="boxButton">Sign up</button>
        <br></br>
        
        Already have an account?
        <button id="directLogIn">Log In</button>
    </form>
  </center>
`
</body>

  <script>
    const button = document.getElementById('directLogIn');
    button.addEventListener('click', () => {
      window.location.href = '/login';
    });
  </script>

  <script>
    const submitButton = document.getElementById('signUp');

    submitButton.addEventListener('click', (event) => {
      event.preventDefault();

      const firstName = document.getElementById('fName').value;
      const lastName = document.getElementById('lName').value;
      const email = document.getElementById('email').value;
      const username = document.getElementById('username').value;
      const password = document.getElementById('password').value;

      const userData = {
        fName: firstName,
        lName: lastName,
        email: email,
        username: username,
        password: password
      };

      fetch('/users', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(userData)
      })
      .then(response => {
        if (response.ok) {
          return response.json();
        } else {
          throw new Error('Something went wrong');
        }
      })
      .then(data => {
        console.log('Success:', data);
        alert('User created successfully!'); // Alert the user on successful submission
        window.location.href = 'index.html';
      })
      .catch(error => {
        console.error('Error:', error);
        alert('There was an error creating the user. Please try again.'); // Alert the user on error
      });
    });
  </script>



  <script>
      function check(input) {
        if (input.value != document.getElementById('password').value) {
        input.setCustomValidity('\nPasswords do not match');
        document.getElementById('message').innerHTML = '\nPasswords do not match';
      } else {
        input.setCustomValidity('');
        document.getElementById('message').innerHTML = '';
      }
    }
  </script>


</html>