<!DOCTYPE html>
<html>

<title>WeGo Sign up Page</title>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="../styles/style.css" rel="stylesheet" type="text/css" />
</head>
<br></br>

<body>
  <br></br>
  <center>
    <img class="logo" src="../static/WeGo.png" alt="WeGo_logo">
    <br></br>
    <h1 class="title">Welcome to WeGo!</h1>
  </center>
  <br></br>
  <center>
    <form class="box" action="/components/ordering_page.html" method="POST">
      <h1 class="textInForm">Sign up</h1>
      <div class="container">
        <br></br>
        <label for="username" class="textInForm"><b>Username:</b></label>
        <input type="text" placeholder="Enter Username" id="username">
        <br></br>
        <label for="password" class="textInForm"><b>Password:</b></label>
        <input type="password" placeholder="Enter Password" id="password">
        <br></br>
        <label for="password" class="textInForm"><b>Confirm Password:</b></label>
        <input type="password" placeholder="Enter Password" id="password">
        <br></br>
        <button type="submit" class="boxButton">Sign up</button>
        <br></br>
        Already have an account?
        <a href="index.html">Log in</a>
    </form>
  </center>
</body>

</html>