html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Trebuchet MS";
  background: #3c6e71;
  
}

.button {  
  height: 470px !important;
  width: 470px !important;
  border-radius: 25px;
  background-color: white;  
  color: black;  
  text-align: center;
  top: 245;
  margin: 20px 235px 120px 235px;
  justify-content: center;
  align-items: center;
} 

h1 {
  text-align: center;
  font-size: 76;
}

.signout:hover {
  background-color: #ff0202; /* Green */
  color: white;
}

.signout {
  align-items: center;
  background-color: #d9d9d9;
  background-position: 0 0;
  border: 1px solid #d9d9d9;
  border-radius: 11px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  line-height: 25px;
  list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
  padding: 2px 12px;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
  transition-duration: 0.4s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 12px;
}

