html, body 
{
  height: 100%;
  width: 100%;
  font-family: "Trebuchet MS";
  background: #3c6e71;
}

.username{
  margin-left: -1.5%;
}

#signuptext{
  display: block;
}

.box
{
  width:340px;
  padding:60px;
  left:50%;
  background: #d9d9d9;
  border: 7px solid #284b63;
}

.orderInstructions
{
  position:absolute;
  width:940px;
  height: 70%;
  padding-bottom: 40px;
  padding-top: 0px;
  padding-left: 40px;
  top:40%;
  left:25%;
  right:25%;
  background: #353535;
  border: 15px solid #284b63;
}

.orderForm
{
  width:400px;
  padding-left:50px;
  padding-top: 10px;
  top:55%;
  background: #d9d9d9;
  border: 7px solid #284b63;
}

.orderFormBox
{
  position: relative;
  right: 220px;
  top:50px;
}

.formQuestions
{
  color: #284b63;
  text-align: left;
  padding-top: 30px;
}

.deliverTo
{
  color: #284b63;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 50px;
}

.orderText
{
  color: #ffffff;
  font-family: "Trebuchet MS";
  padding: 0%;
  padding-right: 60px;
  padding-top:0px;
}

.orderTitle
{
  color: #ffffff;
  font-family: "Trebuchet MS";
  padding-right:60px;
  padding-bottom:0px;
}

.title
{
  color:#d9d9d9;
}

.boxButton
{
  background: linear-gradient(90deg, #3c6e72, #284b63);
  color: #d9d9d9;
  width: 30%;
}

.boxButton {
  transition-duration: 0.4s;
}

.boxButton:hover {
  background-color: #3c6e71; 
  color: white;
}

.signOutButtonForm
{
  width: 10%;
  height: 5%;
  padding-left: 100px;
}

.signOutButton
{
  background-color: #d9d9d9;
  width: 70%;
  height: 90%;
}

.logo
{
  max-width: 8%;
  max-height: 8%;
}

.orderButtonDiv
{
  padding-right:50px;
  padding-bottom: 20px;
}
.orderButton
{
  background: linear-gradient(90deg, #3c6e72, #284b63);
  color: #d9d9d9;
  width: 40%;
  transition-duration: 0.4s;
}

.orderButton:hover 
{
  background-color: #3c6e71; 
  color: white;
}

.mapImage
{
  max-width: 40%;
  max-height: 30%;
  position: relative;
  left: 230px;
  bottom:335px;
  border: 7px solid #284b63;
}
